// Custom.scss
// Option A: Include all of Bootstrap
// Your variable overrides
$body-bg: #fff;
$body-color: #888;
$theme-colors: (
  "primary": #ffba00,
  "dark":#111111,
);
$font-size-base:.9rem !default;

@import "../../node_modules/bootstrap/scss/bootstrap";
// Required
// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";



